@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
  background-color: #282c34;
  color: white;
  font-family: Karla, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
  color: #fff;
}

@media(max-wifth: 800px) {
  .heading{
    margin:  15px 0;
    font-size: 35px;
  }
}

.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius:  50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  color: #fff;
  background-color: #282c34;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input__submit:hover {
  background-color: #454c5a;
}

.todoList {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  color: #282c34;
  background-color: rgb(255, 251, 44);
}

.card__text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.card__text :focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;

}

@media(max-width: 700px) {
  .input{
    width: 95%;
  }
  .todoList {
    width: 95%;
  }
  .card {
    width: 100%;
  }
}

@media(max-width: 1200px) {
    .todoList {
      width: 40%;
    }
}